web/data/
target/
web/pkg/
data/
.vscode/
wrangler.toml
web/.wrangler/
.wrangler/
roaring_landmask/
web/images/
scripts/archive/
.continue/
web/node_modules/
web/src/lib/assets/
web/src/archive/
web/dist
scripts/test.py